{{ define "Artist" }}
<html lang="en">
<link rel="stylesheet" href="./static/style.css">

<body action="/artist">
    <div class="info">
        <pre>
            <div class="picture">
                <img src="{{.Artist.Image}}">

            </div>
            <table>
                <tr><td>{{.Artist.Name}}</td></tr>
                <tr>
                    {{range .Artist.Members}}
                    <td><li> {{.}} </li> </td>   
                    {{end}}
                </tr>
                <tr><td>{{.Artist.CreationDate}}</td></tr>
                <tr> <td>{{.Artist.FirstAlbum}}</td></tr>
            </table>
            <table>
                {{if .}}
                {{range $l, $d := .Relation.DatesLocations}}
                <li>{{ $l }}</li>
                {{range $d}}
                <li>
                    <ul>{{.}}</ul>
                </li>
                {{end}}
                {{end}}
                {{else}}
                <p>No relations found</p>
                {{end}}
            </table>
            </pre>
    </div>
</body>

</html>
{{ end }}