{{ define "home" }}
<html>

<body>
    <main>
        {{ range .}}
        <pre>
            <div >
                <a href="/artist?id={{.Id}}">
                <img src="{{ .Image}}">      
                {{.Name}} 
                {{ .CreationDate}}
                {{ .FirstAlbum}} 
                <a href="{{ .Locations}}">Locations</a>   
                <a href="{{ .ConcertDates}}">dates</a>
                <a href="{{ .Relations}}">Relations</a>
            </div>
                </pre>
        {{end}}
    </main>

</body>

</html>
{{ end }}