{{define "location"}}

<body>
    <header>
        <h1>{{.Details.Name}}</h1>
    </header>
    <main class="centered-content">
        <section class="concert-info">
            <img src="{{ .Details.Image }}" alt="{{ .Details.Name }}">
            <h2>Concert Locations</h2>
            <ul class="no-bullets">
                {{range .Loc.Locations}}
                <li>{{.}}</li>
                {{end}}
            </ul>
        </section>
    </main>
    <script type="module">
        import { fetchHomeOnKeydown } from './static/fetchHome.js';

        // Call the function to activate the keydown listener
        fetchHomeOnKeydown();

    </script>
</body>

</html>
{{end}}