{{ define "search" }}
<html>
<body>
  <div class="search-results-container">
    {{range .}}
    <div class="artist-card">
      <a href="/artist?id={{.Id}}">
        <img src="{{ .Image }}" alt="{{ .Name }}">
      </a>
      <h3>{{ .Name }}</h3>
      <p>Creation Date: {{ .CreationDate }}</p>
      <p>First Album: {{ .FirstAlbum }}</p>
      <a href="/location?id={{.Id}}">Locations</a>
      <a href="/dates?id={{.Id}}">Dates</a>
      <a href="/relations?id={{.Id}}">Relations</a>
    </div>
    {{end}}
  </div>
</body>
</html>
{{ end }}