{{ define "search" }}
<html>

<body>
  <div class="search-results-container">
    {{ range . }}
    <div class="artist-card">
      <a href="/artist?id={{.Id}}" class="artist-link-overlay"></a>
      <img src="{{ .Image }}" alt="{{ .Name }}">
      <h3>{{ .Name }}</h3>
      <p>Creation Date: {{ .CreationDate }}</p>
      <p>First Album: {{ .FirstAlbum }}</p>
      <div class="artist-links">
        <a href="/location?id={{.Id}}" class="artist-link">Locations</a>
        <a href="/dates?id={{.Id}}" class="artist-link">Dates</a>
        <a href="/relations?id={{.Id}}" class="artist-link">Relations</a>
      </div>
    </div>
    {{ end }}
  </div>
  <script type="module">
    import { fetchHomeOnKeydown } from './static/fetchHome.js';

    // Call the function to activate the keydown listener
    fetchHomeOnKeydown();

  </script>
</body>

</html>
{{ end }}