.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: bisque;
    padding: 10px;
    
}
.artist {
    background-color: rgb(76, 45, 0);
    border-radius: 10px;
    gap: 40px;

}

.info{
    background-color: bisque;
}
.picture{
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
}